---
layout: default
title: Sue's afternoon delights - Homemade cakes and afternoon tea in London and Kent
---

<div class="jumbotron">
  <h1>Sue's Afternoon Delights</h1>
  <p class="h2">Indulgence on a plate</p>

  <p>Please get in touch! <a href="mailto:delights4t@gmail.com">delights4t@gmail.com</a></p>

  <div class="row">
    <div class="col-sm-4">
      <figure class="thumbnail">
        <img src="assets/img/homemade-cakes.jpg" alt="Homemade sponge cake" class="img-responsive"/>
        <p class="text-center">Delicious homemade cakes</p>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure class="thumbnail">
        <img src="assets/img/afternoon-tea.jpg" alt="Afternoon tea" class="img-responsive"/>
        <p class="text-center">Traditional afternoon tea</p>
      </figure>
    </div>
    <div class="col-sm-4">
      <figure class="thumbnail">
        <img src="assets/img/delivered-to-you.jpg" alt="Afternoon tea" class="img-responsive"/>
        <p class="text-center">Delivered to you</p>
      </figure>
    </div>
  </div>

  {{ content }}

  <p>
    <span class="cursive">Sue x</span><br/>
    Email me: <a href="mailto:delights4t@gmail.com">delights4t@gmail.com</a>
  </p>

</div>

